<p>new</p>
<%= form_for @user, :url => {:action => 'confirm'} do |f| %>
  <div class="field">
    name:
    <%= f.text_field :name %>
  </div>
  <div class="field">
    mail:
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    password:
    <%= f.password_field :password %>
  </div>
  <%= f.submit "confirm" %>
<% end %>
